 <link rel="stylesheet" href="../static/css/imaginary-magic-animals.css">
    <link rel="stylesheet" href="../static/css/magical-purple.css">
    <link rel="stylesheet" href="../static/css/site.css">
<h1>@ViewData["Title"]</h1>

<h2>Creator:</h2>
<b>Fábián Bernát :hu-flag:</b>
<div class="icons">
    <img src="images/Fabbernat-icon" alt="Fabbernat Icon" title="Fabbernat Icon" />
</div>
<div class="contact">
    <h3>Contact me!</h3>
    <ul>
       <li>Facebook:  <a href="https://Facebook.com/Fabbernat">https://Facebook.com/Fabbernat</a></li>
        <li>X (Twitter) <a href="https://x.com/Fabbernat">https://x.com/Fabbernat</a></li>
        <li>Github: <a href="https://github.com/Fabbernat">https://github.com/Fabbernat</a></li>
    </ul>
</div>