{% extends 'base.html' %}

{% block title %}Fabbernat Generative AI App{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabbernat Generative AI</title>
    <link rel="stylesheet" href="../static/css/imaginary-magic-animals.css">
</head>
<body>
<h1>Fabbernat Generative AI</h1>
<p>What would you like to do</p>
<div class="links">

<a href="wic/wic.html">Tell the meaning of a word in a sentence. (based on context).</a>
<a href="hyphenate/hyphenate.html">Hyphenate a word.</a>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="../static/css/imaginary-magic-animals.css">
<style>
    .links {
        background-color: lightblue;
        color: yellow;
        border-radius: 10px;
        font-size: 24px;
        padding: 10px;
    }

    .links a {
        display: block;
        margin: 5px 0;
        text-decoration: none;
        color: darkblue;
    }

    .links a:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}