<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <nav style="margin: 20px">
        <a href="/">Index</a> |
        <a href="/privacy">Privacy</a> |
        <a href="/chats-list">Chats List</a> |
        <a href="/about">About</a> |
        <a href="/select-model">Select model</a> |
        <a href="/settings">Settings</a> |
        <a href="/profile">Profile</a> |
    </nav>
    <hr>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
